//- Copyright(c) 2015 Jens Böttcher <eljenso.boettcher@gmail.com>

extend layouts/main

block dependencies
  script(src='/public/js/vendor/socket.io-client/socket.io.js')
  script(src='/public/js/index.js')

block leftbar
  .row
    .col-xs-6
      h5 Current track:
      #currentTrack
    .col-xs-6
      h5 Up next:
      #nextTrack
  hr
  .search.input-group.input-group-lg
    input#input_search.form-control(placeholder='Add a song')
    span.input-group-btn
      button#button_search.btn.btn-default Search
  .searchResults
    table#table_searchResults.table.table-striped
      tbody#tbody_searchResults
    center
      button#button_clearSearch.btn.btn-default.btn-lg Clear search
  hr.visible-xs-block.visible-sm-block

block rightbar
  #queue
    center
      h3 Queue
    table.table.table-striped
      tbody#tbody_playlist
