//- Copyright(c) 2015 Jens Böttcher <eljenso.boettcher@gmail.com>

extend layouts/main

block dependencies
  script(src='/public/js/vendor/socket.io-client/socket.io.js')
  script(src='/public/js/index.js')

block leftbar
  #search
    input#input_search.form-control(placeholder='Add a song')
    //- .input-group
      span.input-group-btn
        button#btn_search.btn.btn-default
          span.glyphicon.glyphicon-search
  table.table.table-bordered
    tbody#table_searchResults
  hr.visible-xs-block.visible-sm-block

block rightbar
  .row
    #currentTrack.col-xs-6
    #nextTrack.col-xs-6
  #queue
    center
      h4 Queue
    table.table
      tbody#table_playlist
