//- Copyright(c) 2015 Jens Böttcher <eljenso.boettcher@gmail.com>

extend layouts/main

block dependencies
  script(src='/public/js/vendor/socket.io-client/socket.io.js')
  script(src='/public/js/index.js')

block leftbar
  .row
    .col-xs-6
      h5 Current track:
      #currentTrack
    .col-xs-6
      h5 Up next:
      #nextTrack
  hr
  .search.input-group.input-group-lg
    input#input_search.form-control(placeholder='Add a song')
    span.input-group-btn
      button#button_search.btn.btn-default Search
  .searchResults
    table#table_searchResults.table.table-striped
      tbody#tbody_searchResults
    center
      button#button_clearSearch.btn.btn-default.btn-lg Clear search
  hr.visible-xs-block.visible-sm-block

block rightbar
  #queue
    center
      h3 Queue
    table.table.table-striped
      tbody#tbody_playlist

block modals
  #modal_instructions.modal
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          center
            h2 Welcome to #{website}!
        .modal-body
          div On this page you can influence the music of this party.
            br
            | Add songs or give hearts to push them up in the queue.
          div To keep it fair and the distraction low there are a few rules:
            ul
              li Adding a song counts as voting.
              li You may only vote on any song once.
              li And you have to wait a few seconds between votes.
        .modal-footer
          button#btn_closeInstructionsModal.btn.btn-default(type="button" data-dismiss="modal") Close
