@import url(http://fonts.googleapis.com/css?family=Cabin);

body {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

#table_searchResults {
  margin-top: 15px;
  margin-bottom: 5px;
}

.searchResults {
  display: none;
}